.env
.DS_Store
.venv
.vscode
.idea
.pytest_cache
.ruff_cache
.mypy_cache
.pytest_cache
.ruff_cache
.mypy_cache
.pytest_cache
.ruff_cache
.mypy_cache
tmp_ledenon.html
tmp_limerock.html
tmp_navarra.html
tmp_okayama.html
tmp_oranpark.html
tmp_oschersleben.html
tmp_oulton.html
tmp_rudskogen.html
tmp_vir.html
tmp_winton.html
